*{margin: 0; padding: 0;
}
 
.whatsapp{
  position: fixed;bottom: 30px;right: 30px;z-index: 9999;
 
}




a.one{
  border-width: 5px;
}

body {
  
 background-image:url("SITE\ QUANTICO\ SINALIZAÇÃO.pdf.jpg");
 background-repeat: repeat-y;
 -webkit-background-size: cover;
 -moz-background-size: cover;
 -o-background-size: cover;
 background-size: cover;
 position: relative;
 overflow-x: hidden;
}


.carousel-inner img{
  width: 100%;
  height: 100%;
}


@media only screen and (max-width: 800px) {

  h1{
    
    background-color: rgba(227, 228, 223, 0.5);
  }
  #img{
    
    padding: px;
    padding-bottom: 1px;
    padding-top: 35px;
    
  }
}

